<div class="ui two column grid">
<div class="column">
	<pre style="font-size: 1.2em">
E-mail:   <a href="mailto:i@mkideal.com">i@mkideal.com</a>
Facebook: <a href="https://www.facebook.com/mkideal.io" target="_blank" title="https://www.facebook.com/mkideal.io">mkideal.io</a>
Twitter:  <a href="https://www.twitter.com/mkideal" target="_blank" title="https://www.twitter.com/mkideal">mkideal</a>
Github:   <a href="https://github.com/mkideal" target="_blank" title="https://github.com/mkideal">mkideal</a>
WeChat:   <span>mkideal</span></pre>
</div>
<div class="column">
	<p>WeChat QR code</p>
	<img src="/assets/images/wechat-qrcode.jpeg" height="192" width="192"></img>
</div>
</div>
