a {
    color: #1a0dab;
    text-decoration: none;
}

.badge {
    display: inline-block;
    min-width: 16px; /* pixel unit */
    padding: 2px 6px; /* pixel unit */
    border-radius: 16px;
    text-align: center;
    border: solid 1px #0166aa;
    /*background: #91cff8;*/
    color: #fefefe;
}

#content a * {
    color: #1a0dab;
    text-decoration: none;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin: 0;
}

.app-item-content {
    display: flex;
    flex: none;
    min-height: 16px;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
}

.app-item-content-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 8px;
}

.app-item-content-header {
    display: flex;
    justify-content: space-between;
}

.app-item-content-header-title {
    max-width: calc(100% - 150px);
    padding: 0px;
}

.app-item-time {
    color: grey;
}

.app-item-content-header-title-h {
    width: 100%;
    display: inline-block;
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-item-keyword {
    
}