a {
    color: #1a0dab;
    text-decoration: none;
}

select {
	background-color: white;
    border: solid 1px #aaaaaa;
	box-shadow: 1px 1px 2px #d8d8d8;
    border-radius: 4px;
	padding: 0.2rem 0.25rem;
    outline: 0;
}

html {
	scroll-behavior: smooth;
}

.badge {
    display: inline-block;
    min-width: 16px; /* pixel unit */
    padding: 0px 10px; /* pixel unit */
    border-radius: 12px;
    text-align: center;
    border: solid 1px #0166aa;
    /*background: #91cff8;*/
    /*color: #fefefe;*/
}

#content a * {
    color: #1a0dab;
    text-decoration: none;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin: 1rem 0;
}

.app-item-content {
    display: flex;
    flex: none;
    min-height: 16px;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 12px auto;
	border-radius: 0.25rem;
	box-shadow: #f0f1f2 0 1px 1px 0, #f0f1f2 0 1px 1px 1px;
}

.app-item-content:hover {
    box-shadow: rgb(60 64 67 / 15%) 0 1px 2px 0, rgb(60 64 67 / 10%) 0 1px 3px 1px;
	transition: box-shadow 0.2s ease-in-out;
}

#content .app-item-content-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 16px;
}

#content .app-item-content-details p {
	margin: 0 0;
}

.app-item-content-header {
    display: flex;
    justify-content: space-between;
}

.app-item-content-header-title {
    max-width: calc(100% - 150px);
    padding: 0px;
}

.app-item-time {
    color: grey;
}

#content .app-item-content-header-title-h {
    width: 100%;
    display: inline-block;
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0 0;
}

.code-button-container {
  position: absolute;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

.btn-code {
  font-size: 0.8em;
  z-index: 1;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 10px;
}

.highlight {
  position: relative;
}

.highlight pre {
	background-color: white !important;
}

:root {
	--toc-float-right-width: 300px;
	--toc-float-right-padding: 60px;
}

[data-toc-type="float-right"] {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 16px;
	position: fixed;
	top: 108px;
	right: calc(var(--toc-float-right-padding) - var(--toc-float-right-width));
	width: calc(var(--toc-float-right-width));
	overflow-y: scroll;
	max-height: 70%;
	background-color: #fff;
	border: 1px solid #91c89c;
	border-radius: 4px;
	opacity: 0.8;

	transition-property: right, width, max-height, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;

	z-index: 2;
}

@media (max-width: 400px) {
	[data-toc-type="float-right"] {
		right: calc(var(--toc-float-right-padding) - 75vw);
		width: calc(75vw);
	}
}

#content [data-toc-type="float-right"] a {
	color: grey;
}

#content [data-toc-type="float-right"] ul {
	padding-left: 0;
	margin-bottom: 0;
}

/* (2 * var(--toc-float-right-width + 10px) + pageWidth) */
@media (min-width: 1440px) {
	[data-toc-type="float-right"] {
		opacity: 1;
		right: -20px;
	}
}

@media (max-width: 1440px) {
	[data-toc-type="float-right"]:not(:hover):not(:focus) {
		max-height: 46px;
	}
}

[data-toc-type="float-right"]:hover, [data-toc-type="float-right"]:focus {
	opacity: 1;
	right: -20px;
}

[data-toc-type="float-right"] ul {
	padding-inline-start: 20px;
}

[data-toc-type="float-right"] li {
	word-break: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
