a {
    color: #1a0dab;
    text-decoration: none;
}

.badge {
    display: inline-block;
    min-width: 16px; /* pixel unit */
    padding: 0px 10px; /* pixel unit */
    border-radius: 12px;
    text-align: center;
    border: solid 1px #0166aa;
    /*background: #91cff8;*/
    /*color: #fefefe;*/
}

#content a * {
    color: #1a0dab;
    text-decoration: none;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin: 1rem 0;
}

.app-item-content {
    display: flex;
    flex: none;
    min-height: 16px;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 12px auto;
	border-radius: 0.25rem;
	box-shadow: #f0f1f2 0 1px 1px 0, #f0f1f2 0 1px 1px 1px;
}

.app-item-content:hover {
    box-shadow: rgb(60 64 67 / 15%) 0 1px 2px 0, rgb(60 64 67 / 10%) 0 1px 3px 1px;
	transition: box-shadow 0.2s ease-in-out;
}

#content .app-item-content-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 16px;
}

#content .app-item-content-details p {
	margin: 0 0;
}

.app-item-content-header {
    display: flex;
    justify-content: space-between;
}

.app-item-content-header-title {
    max-width: calc(100% - 150px);
    padding: 0px;
}

.app-item-content-header-title {
    max-width: calc(100% - 150px);
    padding: 0px;
}

.app-item-time {
    color: grey;
}

#content .app-item-content-header-title-h {
    width: 100%;
    display: inline-block;
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0 0;
}

.app-item-keyword {
}

.code-button-container {
  position: absolute;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

.btn-code {
  font-size: 0.8em;
  z-index: 1;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 10px;
}

.highlight {
  position: relative;
}

.highlight pre {
	background-color: white !important;
}
