---
---

@import "{{ site.theme }}";
@media screen and (min-width: 64em) {
	.main-content {
	    max-width: 88rem;
	    padding: 2rem 6rem;
	    margin: 0 auto;
	    font-size: 1.2rem;
	}
}

.main-content h1 {
    color: #159957;
}

.main-content h2 {
    color: #1E88E5;
}

.main-content h3 {
    color: #7E57C2;
}

.main-content h4 {
    color: #F57C00;
}

.main-content h5 {
    color: #C51162;
}

.main-content h6 {
    color: #263238;
}
