{{ define "main" }}
<div class="container">
    <article>
        <header>
            <h1 class="article-title" style="margin-bottom: 10px;">{{.Title}}</h1>
            <p><i class="fa-regular fa-calendar"></i> <i class="app-item-time">{{ .Date.Format "2006年1月2日" }}</i>
            </p>
        </header>

		{{ if .Params.keywords }}
		<div>
			<span>关键词: </span>
			{{ range .Params.keywords }}
			<span class="app-item-keyword badge"><i>{{ . }}</i></span>
			{{ end }}
		</div>
		{{ end }}
        {{if .Params.abstract}}
		<div>
			<span>摘&nbsp;&nbsp;要:</span>
			<i style="color: grey">{{.Params.abstract}}</i>
		</div>
		{{ end }}

		{{ if .Params.toc }}
		<aside>
			<span>目&nbsp;&nbsp;录:</span>
			{{ .TableOfContents }}
		</aside>
		{{ end }}

        <br />
        {{.Content}}
        <br />
    </article>
</div>

{{ if .Site.Params.utteranc.enable }}
<hr />
<script src="https://utteranc.es/client.js" repo="{{ .Site.Params.utteranc.repo }}" issue-term="pathname"
    theme="github-light" crossorigin="anonymous" async>
    </script>
{{ end }}

{{ end }}
