<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content='{{ .Site.Params.author }}'>

    <link rel="stylesheet" href="/css/font.inconsolata.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css">

    {{ $style := resources.Get "sass/researcher.scss" | resources.ExecuteAsTemplate "sass/researcher.scss" . | toCSS |
    minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ with .Site.Params.favicon }}
    <link rel="icon" type="image/ico" href="{{ . | absURL }}">
    {{ end }}

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics.html" . }}
    {{ end }}

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>
	<script src="/js/lib/jquery-3.6.0.min.js"></script>
	<script src="/js/lib/bootstrap.bundle.min.js"></script>

	<script src="/js/codeblock.js"></script>
	<script src="/js/runner/go.js"></script>
	<script src="/js/runner/rust.js"></script>
	<script src="/js/runner/lua.js"></script>
	<script src="/js/runner/other.js"></script>
	<script>
		codeblock.init();
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
</head>
