<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content='{{ .Site.Params.author }}'>

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/all.min.css">

    {{ $style := resources.Get "sass/researcher.scss" | resources.ExecuteAsTemplate "sass/researcher.scss" . | toCSS |
    minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ with .Site.Params.favicon }}
    <link rel="short icon" type="image/ico" href="{{ . | absURL }}?v=1.0">
    <link rel="icon" type="image/ico" href="{{ . | absURL }}?v=1.0">
    {{ end }}

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if not .Site.IsServer }}
	<!-- Global site tag (gtag.js) - Google Analytics -->
    {{ if .Site.Params.googleAnalytics.enable }}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.googleAnalytics.appId}}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{.Site.Params.googleAnalytics.appId}}');
	</script>
    {{ end }}
    {{ end }}

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>

	<script src="/js/lib/jquery-3.6.0.min.js"></script>
	<script src="/js/lib/bootstrap.bundle.min.js"></script>
	{{ if .Site.Params.mongo.enable }}
	<script src="/js/mongo.js" data-forward-url="{{.Site.Params.forward}}"
		data-app-id="{{.Site.Params.mongo.appId}}"
		data-source="{{.Site.Params.mongo.dataSource}}"
		data-database="{{.Site.Params.mongo.database}}"
		data-collection="{{.Site.Params.mongo.collection}}"></script>
	{{ end }}

	<script src="/js/codeblock.js" data-forward-url="{{.Site.Params.forward}}"></script>
	<script src="/js/runner/go.js" data-forward-url="{{.Site.Params.forward}}"></script>
	<script src="/js/runner/rust.js" data-forward-url="{{.Site.Params.forward}}"></script>
	<script src="/js/runner/lua.js" data-forward-url="{{.Site.Params.forward}}"></script>
	<script src="/js/runner/sololearn.js" data-forward-url="{{.Site.Params.forward}}"></script>
	<script src="/js/runner/onecompiler.js" data-forward-url="{{.Site.Params.forward}}"></script>
	<script>
		codeblock.init({
			shareCodeURL: {{.Site.Params.codeblock.share}}
		});
		var oldHighlightAll = Prism.highlightAll;
		Prism.highlightAll = function(a, b) {
			document.querySelectorAll('code:not([data-lang=""])').forEach(function(e) {
				var lang = e.getAttribute("data-lang");
				if (lang) {
					var syntaxName = codeblock.syntaxName(lang);
					if (lang !== syntaxName) {
						if (e.className && e.className.includes("language-" + lang)) {
							e.className = e.className.replace("language-" + lang, "");
						}
						if (!e.className || !e.className.includes("language-" + syntaxName)) {
							console.log("add syntax class", syntaxName);
							e.className = (e.className || "") + " language-" + syntaxName;
						}
					}
				}
			});
			oldHighlightAll(a, b);
		}
		$(function () {
			$('[data-toggle="tooltip"]').tooltip({
				trigger: "hover",
				delay: {show: 250, hide: 250}
			});
			if(navigator && /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
				$(document).on('shown.bs.tooltip', function (e) {
					setTimeout(function () {
						$(e.target).tooltip('hide');
					}, 2000);
				});
			}
		});
	</script>
</head>
