{{ define "main" }}
<div class="container">
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
        {{ range first 50 (where .Site.AllRegularPages "Section" "posts") }}
        {{ if not .Params.hideInList }}
        <!-- <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></li> -->
        <div class="app-item app-item-content">
            <div class="app-item-content-details">
                <div class="app-item-content-header">
                    <div class="app-item-content-header-title">
                        <a href="{{ .Permalink }}">
                            <h3 class="app-item-content-header-title-h">{{ .Title }}</h3>
                        </a>
                    </div>
                </div>
                <div>
                    <p>
                        <span class="app-item-content-meta">
                            <span class="app-item-time">{{ .Date.Format "2006年1月2日" }}</span>
                        </span>
                        {{ .Params.abstract }}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
