{{ define "main" }}
<div class="container">
    <article>
        {{if not .Params.hideTitle}}
        <header>
			<h1 class="article-title" style="margin-bottom: 10px;">{{if .Params.hideHeader}}<a href="{{.Site.BaseURL}}">/</a> {{end}}{{.Title}}</h1>
        </header>
		{{ end }}

        {{if .Params.showAbstact}}
        {{if .Params.abstract}}
		<p><span>摘&nbsp;&nbsp;要: </span><span style="color: grey">{{.Params.abstract}}</span></p>
		{{ end }}
		{{ end }}

        {{.Content}}
        <br />
    </article>
</div>

{{ end }}
