<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
	<meta charset="UTF-8">

	{% seo %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	
	{% include shared-deps.html %}
</head>

<body>
	<header class="page-header" role="banner">
		{% include shared-header.html %}
	</header>

	<main id="content" class="main-content" role="main">
		{{ content }}

		<div class="ui three item stackable tabs menu">
			<a class="active item" data-tab="tab-category">按类别排列</a>
			<a class="item" data-tab="tab-date">按日期顺序</a>
			<a class="item" data-tab="tab-date-desc">按日期倒序</a>
		</div>

		<div class="ui active tab" data-tab="tab-category">
			<ul>
			  {% for post in site.posts %}
				<li>
					<a href="{{ post.url }}"><h2>{{ post.title }} (FIXME:category)</h2></a>
				</li>
			  {% endfor %}
			</ul>
		</div>

		<div class="ui tab" data-tab="tab-date">
			<ul>
			  {% for post in site.posts %}
				<li>
					<a href="{{ post.url }}"><h2>{{ post.title }} (FIXME:date)</h2></a>
				</li>
			  {% endfor %}
			</ul>
		</div>

		<div class="ui tab" data-tab="tab-date-desc">
			<ul>
			  {% for post in site.posts %}
				<li>
					<a href="{{ post.url }}"><h2>{{ post.title }} (FIXME:date-desc)</h2></a>
				</li>
			  {% endfor %}
			</ul>
		</div>

		<footer class="site-footer">
			{% include shared-footer.html %}
		</footer>
	</main>

	<script>
		$(function() {
			$('.tabs.menu .item').tab();
		});
	</script>

	{% include ga.js.temp %}
</body>

</html>
