<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
	<meta charset="UTF-8">

	{% seo %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	
	{% include shared-deps.html %}
</head>

<body>
	<header class="page-header" role="banner">
		{% include shared-header.html %}
	</header>

	<main id="content" class="main-content" role="main">
		{{ content }}

		<div class="ui four item stackable tabs menu">
			<a class="active item" data-tab="tab-category">按类别排序</a>
			<a class="item" data-tab="tab-tag">按标签排序</a>
			<a class="item" data-tab="tab-date-desc">按日期倒序</a>
			<a class="item" data-tab="tab-date">按日期顺序</a>
		</div>

		<div class="ui active tab" data-tab="tab-category">
			<ul>
				{% assign categories_list = site.categories %}
				{% if categories_list.first[0] == null %}
					{% for category in categories_list %}
						<h1>
							{{ category }} ({{ site.tags[category].size }})
						</h1>
					{% endfor %}
				{% else %}
					{% for category in categories_list %}
						<h1>
							{{ category[0] }} ({{ category[1].size }})
						</h1>
						<ul>
						{% assign pages_list = category[1] %}
						{% for post in pages_list %}
							{% if post.title != null %}
								{% if group == null or group == post.group %}
								<li style="margin-bottom: 0.5em; font-size: 1.2em"><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="color: #9E9E9E; font-size: 0.8em">{{ post.date | date: "%Y/%m/%d %H:%M" }}</time></a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% assign pages_list = nil %}
						{% assign group = nil %}
						</ul>
					{% endfor %}
				{% endif %}
				{% assign categories_list = nil %}
			</ul>
		</div>

		<div class="ui tab" data-tab="tab-tag">
			<ul>
				{% assign tags_list = site.tags %}
				{% if tags_list.first[0] == null %}
					{% for tag in tags_list %}
						<h1>
							{{ tag }} ({{ site.tags[tag].size }})
						</h1>
					{% endfor %}
				{% else %}
					{% for tag in tags_list %}
						<h1>
							{{ tag[0] }} ({{ tag[1].size }})
						</h1>
						<ul>
						{% assign pages_list = tag[1] %}
						{% for post in pages_list %}
							{% if post.title != null %}
								{% if group == null or group == post.group %}
								<li style="margin-bottom: 0.5em; font-size: 1.2em"><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="color: #9E9E9E; font-size: 0.8em">{{ post.date | date: "%Y/%m/%d %H:%M" }}</time></a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% assign pages_list = nil %}
						{% assign group = nil %}
						</ul>
					{% endfor %}
				{% endif %}
				{% assign tags_list = nil %}
			</ul>
		</div>

		<div class="ui tab" data-tab="tab-date-desc">
			<ul>
			  {% for post in site.posts %}
				<li style="margin-bottom: 0.5em; font-size: 1.2em">
					<a href="{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="color: #9E9E9E; font-size: 0.8em">{{ post.date | date: "%Y/%m/%d %H:%M" }}</time></a>
				</li>
			  {% endfor %}
			</ul>
		</div>

		<div class="ui tab" data-tab="tab-date">
			<ul>
			  {% for post in site.posts reversed %}
				<li style="margin-bottom: 0.5em; font-size: 1.2em">
					<a href="{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="color: #9E9E9E; font-size: 0.8em">{{ post.date | date: "%Y/%m/%d %H:%M" }}</time></a>
				</li>
			  {% endfor %}
			</ul>
		</div>

		<footer class="site-footer">
			{% include shared-footer.html %}
		</footer>
	</main>

	<script>
		$(function() {
			$('.tabs.menu .item').tab();
		});
	</script>

	{% include ga.js.temp %}
</body>

</html>
